<ion-header>
	<ion-toolbar>


		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

		<ion-buttons slot="end">

			<ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
				<ion-icon name="cart"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Mycart</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

	<br>
	<div padding class="" *ngIf="service.cart.line_items.length == 0">
		<img [src]="empty_cart" width="300px;" height="300px">
		<h3 class="txt1">There is no foods on your cart.</h3>
	</div>


	<div *ngIf="service.cart.line_items">

		<div class="" *ngFor="let item of service.cart.line_items">
			<div class="item-cart pdb-15 pdt-15">

				<div class="thumb ovfl-hidden flex-row flex-ali-center flex-jus-center"
					[routerLink]="['/detail', {id_item: item.product_id}]">
					<img [src]="item.image">
				</div>
				<div class="description pdl-10 pdr-15 ovfl-hidden"
					[routerLink]="['/detail', {id_item: item.product_id}]">
					<h4 class="fs-16 mg-0 ellipsis">{{item.name}}</h4>
					<p>
						<span>
							<i>{{item.price}}$</i>
						</span>




					</p>

					<p>


						<i>Sub: {{1*item.price*item.quantity}}$</i>




					</p>



				</div>
				<div>



				</div>


				<ion-button fill="clear" size="small" (click)="addToCart(item.product_id)">
					<ion-icon name="ios-add"></ion-icon>
				</ion-button>
				<!--
					<ion-input type="number" text-center value="{{item.quantity}}"  style="padding-right:10px;"></ion-input>
					
					-->

				<span color="shadow"><strong>{{item.quantity}}</strong></span>

				<ion-button fill="clear" size="small" (click)="deleteFromCart(item.product_id)">
					<ion-icon name="ios-remove"></ion-icon>
				</ion-button>






			</div>















			<div *ngIf="item.extra">
				<div *ngFor="let option of item.extra;" class="description pdl-10 pdr-15 ovfl-hidden">
					<div *ngIf="option.product_id == item.product_id && option.quantity >= 1" style="color:green;">

						<h3 wrap-text style="padding-left:20%;"><strong>{{option.name}} - {{1*option.value }}$</strong>
						</h3>
						<!--
								  <p wrap-text style = "padding-left:20%;"> Price: <span>{{1*option.value }}$</span></p>
								  
								  -->



						<div style="padding-left:20%;">

							<ion-button fill="clear" size="small" class="txt3 shadow-0 fs-18 mg-0"
								(click)="addExtraToCart(option)">
								<ion-icon name="ios-add"></ion-icon>
							</ion-button>
							<span color="shadow"><strong>{{option.quantity}}</strong></span>
							<ion-button fill="clear" size="small" class="txt3 shadow-0 fs-18 mg-0"
								(click)="deleteExtraFromCart(option)">
								<ion-icon name="ios-remove"></ion-icon>
							</ion-button>
							<!--
									                  <ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="shadow" >
														 <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline"></ion-icon>
													  </ion-button>
													  
													  <ion-button icon-only class="has-icon icon-only" no-margin item-right clear small color="shadow" >
														 <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
													  </ion-button>
													  
													  -->
						</div>

						<P wrap-text style="padding-left:20%;"> SubTotal:
							<span>{{1*option.value*option.quantity}}$</span></P>

					</div>
				</div>



			</div>







		</div>


		<ion-grid>
			<ion-row class="label">
				<ion-col width-75>
					<ion-label no-margin *ngIf="service.total != 0"><b>Totals</b></ion-label>
				</ion-col>
				<ion-col width-25 text-right>
					<ion-label no-margin *ngIf="service.total != 0"><b>{{1*service.total}}$</b></ion-label>
				</ion-col>
			</ion-row>

		</ion-grid>



	</div>










</ion-content>


<ion-footer>
	<ion-toolbar position="bottom">
		<ion-button *ngIf="service.total != 0" expand="full" color="primary" [routerLink]="['/choose-payment']">Choose
			Payment Type</ion-button>
	</ion-toolbar>
</ion-footer>
