<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

		   <ion-buttons slot="end">
     
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

		<ion-title>Categories</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-searchbar (ionInput)="searchItem($event)" placeholder="Search category here...">
    </ion-searchbar>

	 <div class="movies-flex" *ngIf="categoryList">
    <div class="movie" *ngFor="let cats of categoryList" [routerLink]="['/products', {id: id, title: title , owner_id: owner_id , cat_id: cats.id}]">
      <div class="poster">
       
		<img  class="poster-effect" [src]="cats.image">
      </div>
      <div class="title">{{cats.title }}</div>
      <div class="year"><ion-icon name="star"></ion-icon>{{ cats.title}}</div>
      
    </div>
  </div>

<!--
	<ion-card *ngFor="let cats of categoryList">
    
	
	<ion-img [src]="cats.image" [routerLink]="['/products', {id: id, title: title , owner_id: owner_id , cat_id: cats.id}]"></ion-img> 

    <ion-card-content>
      <ion-card-title [routerLink]="['/products', {id: id, title: title , owner_id: owner_id, cat_id: cats.id}]">{{cats.title}}</ion-card-title>

      <p [routerLink]="['/products', {id: id, title: title , owner_id: owner_id, cat_id: cats.id}]">{{cats.title}}</p>
    </ion-card-content>
  </ion-card>
  
  -->

</ion-content>
