<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
      <ion-menu-button>
        <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title>tickect</ion-title>

</ion-header>

<ion-content>

</ion-content>
