.content {
        background: rgba(46, 134, 193, 1) !important;
    }
    .your-cart {
        padding-top: 5px;
        .card {
            width: auto;
            margin: 6px;
            .card-content {
                padding: 3px 16px 4px !important;
            }
        }
        .img-box {
            width: 100%;
            max-width: 45px;
            height: 75px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
                left: 0;
                right: 0;
            }
        }
        h4 {
            font-weight: 500 !important;
            letter-spacing: 1px;
            position: relative;
            margin-top: 9px;
            display: flex;
            align-items: stretch;
            height: 36px;
            overflow: hidden;
            line-height: 18px;
            font-size: 1.3rem;
            margin-bottom: 10px;
            .icon {
                min-width: 20px;
                img {}
            }
        }
        .rate {
            display: flex;
            align-items: center;
            margin-top: 7px;
            .price-box {
                margin-right: auto;
                width: 60%;
                .price {
                    padding-left: 10px;
                    position: relative;
                    display: block;
                    font-weight: 700;
                    font-size: 1.3rem;
                    &.text-light {
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                    .rupee-icon {
                        width: 7px;
                        position: absolute;
                        top: 3.5px;
                        left: 0px;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                font-weight: 500 !important;
                margin-left: auto;
                color: #000;
                display: flex;
                align-items: center;
                span {
                    margin-left: 6px !important;
                    position: relative;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    color: #7b7b7b !important;
                    .icon {
                        min-width: 2rem;
                        margin-top: 2px;
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        h6 {
            font-size: 1.1rem;
            font-weight: 100;
            padding-left: 20px;
            letter-spacing: 1px;
            span {
                font-weight: 600 !important;
                padding-left: 20px;
                position: relative;
                font-size: 1.3rem !important;
                img {
                    width: 9px;
                    position: absolute;
                    right: 63px;
                    top: 1px;
                }
            }
        }
    }
    @media (max-width: 350px) {
        .rateing {
            p {
                font-size: 1rem !important;
            }
        }
        h4 {
            font-size: 1.1rem !important;
        }
    }
    .checkout {
        padding: 9px 0;
        button {
            &.btn-shadow {
                box-shadow: 1px 10px 23px -4px #00629f !important;
            }
            &.btn-text {
                padding: 0;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: 1px;
            }
            &.btn-round {
                border-radius: 5px !important;
            }
        }
    }
    .mr-5 {
        margin-right: 5px;
    }
    ion-header .toolbar-title {
        padding: 0 16px !important;
    }