<ion-header>
	<ion-toolbar>
	<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="ios-arrow-round-back"></ion-back-button>
			<ion-menu-button>
				<ion-icon class="fs-24 txt1" name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>

		   <ion-buttons slot="end">
     
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

		<ion-title>Order Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

<div *ngIf="orderDetails" >




		 <div class="movie-data" >
			<div class="title" style="background-color: #6899DA;">Customer Details</div>
			
			<ion-grid style ="background-color: #B8F0E6;">
			  <ion-row>
				<ion-col>
				  <div class="overview"><p>Name: <b>{{orderDetails.customerDetails.displayName}}</b></p></div>
				</ion-col>
				
				</ion-row>
				
			<ion-row>
				<ion-col>
				  
						<div class="overview">
						  
							<b><p>Email Id: <b>{{orderDetails.customerDetails.email}}</b></p></b>
						  
						
						  
						</div>
				</ion-col>
				
			
			 
			  </ion-row>
			  
			  	  <ion-row>
				<ion-col>
				  <div class="overview"><p>PhoneNumber: <b>{{orderDetails.customerDetails.phone}}</b></p></div>
				</ion-col>
				
				</ion-row>
				
				<ion-row>
				<ion-col>
				    <div class="overview"><p>Address: <b>{{orderDetails.customerDetails.address}}</b></p></div>
						
				</ion-col>
			 
			  </ion-row>

			</ion-grid>
			
			
			<div class="title" style="background-color: #6899DA;margin-top:20px;">Delivery Info</div>
			<ion-grid style ="background-color: #B8F0E6;">
			  <ion-row>
				<ion-col>
				  
				  <div class="overview"><p>City: <b>{{addresses.city}}</b></p></div>
				</ion-col>
				
				
			</ion-row>
			
			<ion-row>
				<ion-col>
				  <div class="overview"><p>District : <b>{{addresses.district}}</b></p></div>
				</ion-col>
			 
			  </ion-row>
			  
			   <ion-row>
				<ion-col>
				  
				  <div class="overview"><p>Street: <b>{{addresses.street}}</b></p></div>
				</ion-col>
				
			</ion-row>
			
			  <ion-row>
				<ion-col>
				  <div class="overview"><p>Building Name: <b>{{addresses.apartmentOffice}}</b></p></div>
				</ion-col>
			 
			  </ion-row>
			  
			  
			   <ion-row>
				<ion-col>
				  
				  <div class="overview"><p>Building No: <b>{{addresses.phone}}</b></p></div>
				</ion-col>
				
				</ion-row>
				
				<ion-row>
				<ion-col>
				  <div class="overview"><p>Door No: <b>{{addresses.address}}</b></p></div>
				</ion-col>
			 
			  </ion-row>
			  
			  
			  <ion-row>
				<ion-col>
				  
				  <div class="overview"><p>Date: <b>{{orderDetails.timeStamp | date}}</b></p></div>
				</ion-col>
			 
			  </ion-row>
			  

			</ion-grid>
			
			
			
			
			

			
			
			
			
			
			
			
			
			
		<div style ="background-color: #B8F0E6;">
			<div class="title" style="background-color: #6899DA;margin-top:20px;">Order's Item Details</div>
			
			
		
		
         <div *ngFor="let item of orderDetails.items" >
		 
		 
		 
		 <div>
		 <!--
            <h2 style="margin-left: 10px;> </h2>
			-->
			
			<h4 style = "background-color:#7CC2B6"><strong>{{item.name}} --- {{item.restaurantName}}</strong></h4>
			
			<div style ="margin-left:20px;">
				<p>Price {{item.price}}$</p>
				<p>Quantity: {{item.quantity}}</p>
				<h4><strong>SubTotal: {{1*item.price*item.quantity}}$</strong></h4>
			
			</div>
			
		</div>	
         
		  
			<div style ="margin-left:30%;">
			
				<div *ngFor = "let itemExtra of item.extra" >
					<div *ngIf = "itemExtra.quantity != 0">
						
						<h4 style="background-color:#7CC2B6"><strong>Extra Item Name: {{itemExtra.name}}</strong></h4>
						<p>Price: {{itemExtra.value}}$</p>
						<p>Quantity: {{itemExtra.quantity}}</p>
						<h4><strong>Sub-Total: {{1*itemExtra.value*itemExtra.quantity}}$</strong></h4>
						
					</div>
				</div>
			
			</div>
		  
		  <!--
					  <ion-grid>
					  
							<ion-row>
					
							<ion-col>
							  <div class="overview"><h2><strong>{{item.restaurantName}}</strong></h2></div>
							</ion-col>
						 
						  </ion-row>
						  
						    <ion-row>
							<ion-col>
							  
							  <div class="overview"><h2><strong>Food Name</strong></h2></div>
							</ion-col>
							<ion-col>
							  <div class="overview"><p>{{item.name}}</p></div>
							</ion-col>
						 
						  </ion-row>
					  
						  <ion-row>
							<ion-col>
							  
							  <div class="overview"><h2><strong>Price</strong></h2></div>
							</ion-col>
							<ion-col>
							  <div class="overview"><p>{{item.price}}</p></div>
							</ion-col>
						 
						  </ion-row>
						  
						   <ion-row>
							<ion-col>
							  
							  <div class="overview"><p>Quantity: </p></div>
							</ion-col>
							<ion-col>
							  <div class="overview"><p>{{item.quantity}}</p></div>
							</ion-col>
						 
						  </ion-row>
						  
						  
							<ion-row>
							<ion-col>
							  
							  <div class="overview">SubTotal: </div>
							</ion-col>
							<ion-col>
							  <div class="overview"><h2><strong>{{1*item.price*item.quantity}}</strong></h2></div>
							</ion-col>
						 
						  </ion-row>
						  

						</ion-grid>
		  
			
			  <ion-grid *ngFor = "let itemExtra of item.extra">
					  
					<ion-row *ngIf = "itemExtra.quantity != 0">
							
							<ion-col>
							  <div class="overview"><h2><strong>Extra Item Name: {{itemExtra.name}}</strong></h2></div>
							</ion-col>
					
							<ion-col  >
							  <div class="overview"><h2><strong>{{itemExtra.name}}</strong></h2></div>
							</ion-col>
						 
					</ion-row>
						  
					<ion-row *ngIf = "itemExtra.quantity != 0">
							
							<ion-col>
							  <div class="overview"><p>Price: {{itemExtra.value}}$</p></div>
							</ion-col>
					
							<ion-col>
							  <div class="overview"><p>Quantity: {{itemExtra.quantity}}</p></div>
							</ion-col>
						 
					</ion-row>
					
					<ion-row *ngIf = "itemExtra.quantity != 0">
							
							<ion-col>
							  <div class="overview"><p>SubTotal</p></div>
							</ion-col>
					
							<ion-col>
							  <div class="overview"><h2><strong>Sub-Total: {{1*itemExtra.value*itemExtra.quantity}}$</strong></h2></div>
							</ion-col>
						 
					</ion-row>
					  
						 
						  

			</ion-grid>
			
			
			-->
	
				</div>
				
			</div>
			
	
			
	

		<!--- end here --->
	</div>


      <ion-list style="margin:0;padding:10px;" >
	  <!--
		<ion-item style="background-color: #75BBE7;">
            <h2 style="margin: 0px;">CustomerDetails </h2>
         </ion-item>
		 
		 <div style = "background-color:#A0DCF4">
		  <ion-item style = "background-color:#A0DCF4">
			<p>Name: <b>{{orderDetails.customerDetails.displayName}}</b></p>
		  </ion-item>
		  
		  <ion-item style = "background-color:#A0DCF4">
			<p>Email Id: <b>{{orderDetails.customerDetails.email}}</b></p>
		  </ion-item>
		  
		  <ion-item style = "background-color:#A0DCF4">
			<p>PhoneNumber: <b>{{orderDetails.customerDetails.phone}}</b></p>
		  </ion-item>
		  
		    <ion-item style = "background-color:#A0DCF4">
			<p>City: <b>{{addresses.city}}</b></p>
		  </ion-item>
		  
		  <ion-item style = "background-color:#A0DCF4">
			<p>District : <b>{{addresses.district}}</b></p>
		  </ion-item>
		  
		  <ion-item style = "background-color:#A0DCF4">
			<p>Street: <b>{{addresses.street}}</b></p>
		  </ion-item>
		  
		    <ion-item style = "background-color:#A0DCF4">
			<p>Building Name: <b>{{addresses.apartmentOffice}}</b></p>
		  </ion-item>
		  
		    <ion-item style = "background-color:#A0DCF4">
			<p>Building No: <b>{{addresses.phone}}</b></p>
		  </ion-item>
		  
		     <ion-item style = "background-color:#A0DCF4">
			<p>Door No: <b>{{addresses.address}}</b></p>
		  </ion-item>
		  
		  <ion-item style = "background-color:#A0DCF4">
			<p>Date: <b>{{orderDetails.timeStamp | date}}</b></p>
		  </ion-item>
		 </div> 

		 -->
	
		 <div style = "background-color:#A0DCF4">

		 <!--
		 
		 <ion-row class="label" style = "background-color:#A0DCF4;padding-left:15px;">
            <ion-col width-75>
               <ion-label no-margin>
			   
			   <div class="title"><h2>Payment Type:</h2></div>
			   
			   </ion-label>
            </ion-col>
            <ion-col width-25 text-right>
               <ion-label no-margin>
			   
			   <div class="title"><h2>{{orderDetails.payments.PaymentType}}</h2></div>
			   </ion-label>
            </ion-col>
         </ion-row>
		 
		 
		 --->
         <ion-row class="label" *ngIf="orderDetails.payments.id">
            <ion-col width-75>
               <ion-label no-margin>Transaction Id:</ion-label>
            </ion-col>
            <ion-col width-25 text-right>
               <ion-label no-margin>{{orderDetails.payments.id}}</ion-label>
            </ion-col>
         </ion-row>
         <ion-row class="label" *ngIf="orderDetails.payments.status">
            <ion-col width-75>
               <ion-label no-margin>Payment Status::</ion-label>
            </ion-col>
            <ion-col width-25 text-right>
               <ion-label no-margin>{{orderDetails.payments.status}}</ion-label>
            </ion-col>
         </ion-row>
         <ion-row class="label" *ngIf="orderDetails.payments.amount">
            <ion-col width-75>
               <ion-label no-margin>Charged Amount:</ion-label>
            </ion-col>
            <ion-col width-25 text-right>
               <ion-label no-margin>{{orderDetails.payments.amount}}</ion-label>
            </ion-col>
         </ion-row>
		 
		 
		 
	  
         </div>
		 <div style = "padding-top:25px;">
		 
		 </div>

	
        <!--
		<ion-list class="items">
		  <ion-item *ngFor="let item of orderDetails.items" style = "background-color:#D3F6E6">
		  
		 <ion-item style="background-color: #6899DA;">
            <h2 style="margin: 0px;">{{item.restaurantName}} </h2>
         </ion-item>
		  
			<h2 style = "background-color:#8BC2E5"><strong>{{item.name}}</strong></h2>
			<p>Price {{item.price}}</p>
			<p>Quantity: {{item.quantity}}</p>
			<h2><strong>SubTotal: {{1*item.price*item.quantity}}</strong></h2>
			
			<div *ngFor = "let itemExtra of item.extra" >
				<div *ngIf = "itemExtra.quantity != 0">
					<h2 >=================================</h2>
					<h2><strong>Extra Item Name: {{itemExtra.name}}</strong></h2>
					<p>Price: {{itemExtra.value}}$</p>
					<p>Quantity: {{itemExtra.quantity}}</p>
					<h2><strong>Sub-Total: {{1*itemExtra.value*itemExtra.quantity}}$</strong></h2>
					<h2>=============================================</h2>
				</div>
			</div>
			
		  </ion-item>
		</ion-list>
		
		-->
		
		
		 <ion-row class="label">
			 <ion-col width-75>
				  <h4> <ion-label no-margin style = "text-align:right;"><b>Payment Type</b></ion-label></h4>
				</ion-col>
				<ion-col width-25 text-right>
				  <h4> <ion-label no-margin><b>{{orderDetails.payments.PaymentType}}</b></ion-label></h4>
				</ion-col>
		</ion-row>
		 
		 <ion-row class="label">
			 <ion-col width-75>
				  <h4> <ion-label no-margin style = "text-align:right;"><b>Status</b></ion-label></h4>
				</ion-col>
				<ion-col width-25 text-right>
				  <h4> <ion-label no-margin><b>{{orderDetails.status}}</b></ion-label></h4>
				</ion-col>
		</ion-row>
		 
		 <ion-row class="label">
		 
			
            <ion-col width-75>
              <h4> <ion-label no-margin style = "text-align:right;"><b>Total</b></ion-label></h4>
            </ion-col>
            <ion-col width-25 text-right>
              <h4> <ion-label no-margin><b>{{1*orderDetails.total}}$</b></ion-label></h4>
            </ion-col>
         </ion-row>
         
      </ion-list>
      <br>
   </div>


</ion-content>
