<app-header></app-header>

<ion-content padding>

	<div style="margin: 10px 5px;">
		<ion-button [routerLink]="['/new-address']">
			<ion-icon name="add-circle"></ion-icon> Add New Address
		</ion-button>
	</div>

	<!--saved address list-->

	<ion-card *ngFor="let address of addressList">
		<ion-card-header style="background-color: #D3C140;" color="light">

			<ion-card-title>
				<ion-icon name="compass"></ion-icon>CUSTOMER ADDRESS
			</ion-card-title>
		</ion-card-header>

		<ion-card-content style="background-color: #C8D488;" color="light">

			<div style="padding-left:20px;">
				<p class="show-address">ID: {{address.id}} </p>
				<p class="show-address">City: {{address.city}} </p>
				<p class="show-address">District: {{address.district}}</p>
				<p class="show-address">Street: {{address.street}}</p>
				<p class="show-address">Building Name: {{address.apartmentOffice}}</p>
				<p class="show-address">Building No: {{address.phone}}</p>
				<p class="show-address">Door No: {{address.address}}</p>

				<ion-button [routerLink]="['/edit-address', {address: address}]">
					<ion-icon name="build"></ion-icon>
					Edit
				</ion-button>

				<ion-button (click)="deleteUserAddress(address.id)">
					<ion-icon name="trash"></ion-icon>
					Delete
				</ion-button>


			</div>
		</ion-card-content>
	</ion-card>

	<!--
			<ion-list>
				<ion-item >
					<ion-label>
							
							
					</ion-label>
							
										
					</ion-item>
					
					
					
			</ion-list>
			
			-->



</ion-content>
